*.swp
/bats/
/bats.git/
/stub4bats.sh/
/test/stub.sh

.vim/autoload/pathogen.vim
.vim/colors/molokai.vim
.vim/after/syntax/sh.vim
.vim/ftdetect/bats.vim
.vim/snippets/bats.snippets
.vim/snippets/chef.snippets

test/lib/

/bin/emojify

# test log
/*.log

